@using Microsoft.EntityFrameworkCore;
@inject IDbContextFactory<CyberpunkServer.Models.CyberpunkEntities> db
<div class="ComputerBlock">
	<label class="nameHeader">@elem.name</label>
	<div class="ElectronicsStatDiv">
		<label>MU</label><input type="number" class="AvailableMemory" @bind=AvailableMU><span>/</span><div class="TotalMemory">@TotalMU</div>
		<label>Speed</label><input type="number" class="AvailableSpeed" @bind=@elem.TotalSpeed><span>/</span><div>@elem.TotalSpeed</div>
		<label>Wall Strength</label><div>@elem.Computer.WallStrength</div><div></div><div></div>
		<label>Chip Slots</label><div>@elem.TotalChipslots</div><div></div><div></div>
		<label>Portable</label><div><input type="checkbox" @bind=elem.Computer.IsPortable /></div><div></div><div></div>
		<label>Cyber Enabled</label><div><input type="checkbox" @bind=elem.isCyberEnabled /></div><div></div><div></div>
		<label>Int</label><div>@elem.Computer.Int</div><div></div><div></div>
	</div>
	<div class="OptionsDiv">
		@foreach (var prog in elem.PlayerComputerImprovements)
		{
			<div class="OptionBlock">
				<div><label>@prog.ComputerImprovements.name X @prog.Quantity</label></div>
			</div>
		}
		@foreach (var prog in elem.PlayerComputerOptions)
		{
			<div class="OptionBlock">
				<div><label>@prog.ComputerPeripherals.name</label></div>
			</div>
		}

	</div>
	<div class="ProgramSection">
		@foreach (var prog in elem.PlayerComputerPrograms)
		{
			<ProgramController prog=prog ProgList=elem.PlayerComputerPrograms ElemRemoved=ListChange PlayerProgramList=PlayerProgramList></ProgramController>
		}
		<div class="newProgram">
			<select class="programListSelect" @bind=SelectedProgramID>
				@for (var i = 0; i < ProgramDatas.Count; i++)
				{
					<option value="@i">@ProgramDatas[i].name</option>
				}
			</select><button type="button" @onclick="addProgram"><i class="fa fa-plus"></i></button>
		</div>
	</div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProgram" onclick="setModalTarget(this.parentElement)"><i class="fa fa-plus"></i></button>